---
import Header from '@/components/Header.astro';
const { lang='fa', title='MixPlus', desc='لوکس و مینیمال، الهام از طراحی ایتالیایی' } = Astro.props;
---
<!doctype html>
<html lang={lang} class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <link rel="icon" href="/img/logo.svg" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
  </head>
  <body>
    <Header lang={lang} />
    <main style="padding-top:76px">
      <slot />
    </main>
  </body>
</html>
