---
import SectionTitle from './SectionTitle.astro';
const { img, title, text } = Astro.props;
---
<section class="banner">
  <img src={img} alt="" loading="lazy" />
  <div class="inset">
    <div class="wrap">
      <div class="section-title">
        <h2>{title}</h2>
        {text && <p>{text}</p>}
      </div>
    </div>
  </div>
</section>
