---
const { src = '/img/placeholder-1920x900.jpg', alt = '' } = Astro.props;
---
<section class="relative">
  <img src={src} alt={alt} class="w-full h-[56vh] md:h-[68vh] object-cover" loading="lazy" decoding="async" />
</section>
