---
const { lang = 'fa' } = Astro.props;
---
<section class="mx-auto max-w-[980px] px-6 py-14">
  <div class="social-circles">
    <a class="social-circle" href="https://instagram.com" target="_blank" rel="noreferrer">Instagram</a>
    <a class="social-circle" href="https://www.aparat.com" target="_blank" rel="noreferrer">Aparat</a>
    <a class="social-circle" href="https://youtube.com" target="_blank" rel="noreferrer">YouTube</a>
    <a class="social-circle" href="https://www.linkedin.com" target="_blank" rel="noreferrer">LinkedIn</a>
  </div>
</section>
