---
const { title = "MixPlus", description = "" } = Astro.props;
---

<html lang={Astro.url.pathname.startsWith("/en") ? "en" : "fa"} data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Fonts -->
    <link rel="stylesheet" href="/fonts/kalameh.css" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="/styles/globals.css" />
  </head>

  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
  </body>
</html>
